.Logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 60px ;
    color: white;    margin: 30px
}
.HeaderTab {
    font-family: 'Rajdhani', sans-serif;
}
.LogoBar {
    background-color: black ;
    display: flex ;
    height: 150px;
}
.ButtonTab {
    padding: 5px;
    text-align: right;
    background-color: #F5F5F5
}
.PopoverBody {
    background-color:  #F5F5F5
}
.startTimeButton {
    margin-right : 5px ;
}
